<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sindicato</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href="@{/css/documents.css}">
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script th:src="@{/js/userCreation.js}"></script>

</head>
<body>
<form action="#" th:action="@{/users/newUser}" th:object="${userDTO}" method="post" onsubmit="return validate()">
    <div th:replace="fragments/Header"></div>
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <fieldset>
            <legend>Cadastre-se</legend>

            <div class="form-group">
                <label class="col control-label" for="nome_completo">Nome completo</label>
                <div class="col">
                    <input id="nome_completo" name="nome_completo" type="text" th:field="*{name}" class="form-control input-md" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="CPF">CPF</label>
                <div class="col">
                    <input id="CPF" name="CPF" data-mask="000.000.000-00" type="text" th:field="*{cpf}"
                           class="form-control input-md" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="email">E-mail</label>
                <div class="col">
                    <input id="email" name="email" type="email" th:field="*{email}" placeholder="E-mail"
                           class="form-control input-md" required>
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col control-label" for="password">Senha</label>
                <div class="col">
                    <input id="password" name="password" type="password" th:field="*{password}"
                           class="form-control input-md" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="confirm-password">Confirme sua senha</label>
                <div class="col">
                    <input id="confirm-password" name="confirm-password" type="password"
                           class="form-control input-md" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="rua">Rua</label>
                <div class="col">
                    <input id="rua" name="rua" type="text" th:field="*{address.street}"
                           class="form-control input-md" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="numero">Número</label>
                <div class="col">
                    <input id="numero" name="numero" type="text" th:field="*{address.houseNumber}"
                           class="form-control input-md" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="cidade">Cidade</label>
                <div class="col">
                    <input id="cidade" name="cidade" type="text" th:field="*{address.city}"
                           class="form-control input-md" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="estado">Estado</label>
                <div class="col">
                    <input id="estado" name="estado" type="text" th:field="*{address.state}"
                           class="form-control input-md" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col control-label" for="pais">País</label>
                <div class="col">
                    <input id="pais" name="pais" type="text" th:field="*{address.country}"
                           class="form-control input-md" required>
                </div>
            </div>

            <br/>
            <div class="form-group">
                <div class="col">
                    <input type="submit" id="cadastrar" name="cadastrar" class="btn btn-primary"/>
                </div>
            </div>
        </fieldset>
    </div>
</form>


<!--    <form action="#" th:action="@{/users/newUser}" th:object="${userDTO}" method="post">-->
<!--        <div th:replace="fragments/Header"></div>-->

<!--        <label for="name">Nome completo</label>-->
<!--        <input type="text" name="name" th:field="*{name}"/>-->

<!--        <label for="cpf">CPF</label>-->
<!--        <input type="text" name="cpf" th:field="*{cpf}"/>-->

<!--        <label for="email">E-mail</label>-->
<!--        <input type="email" name="email" th:field="*{email}"/>-->

<!--        <label for="password">Senha</label>-->
<!--        <input type="password" name="password" th:field="*{password}"/>-->

<!--        <label for="street">Rua</label>-->
<!--        <input type="text" name="street" th:field="*{address.street}"/>-->

<!--        <label for="houseNumber">Número</label>-->
<!--        <input type="text" name="houseNumber" th:field="*{address.houseNumber}"/>-->

<!--        <label for="city">Cidade</label>-->
<!--        <input type="text" name="city" th:field="*{address.city}"/>-->

<!--        <label for="state">Estado</label>-->
<!--        <input type="text" name="state" th:field="*{address.state}"/>-->

<!--        <label for="country">País</label>-->
<!--        <input type="text" name="country" th:field="*{address.country}"/>-->
<!--        -->
<!--        <input type="submit" value="Cadastrar">-->
<!--    </form>-->
</body>

</html>